/**
 * Collapsibles
 */

.customize-collapsible {
	position: relative;
	margin: 0 -12px;
	border-top: 1px solid rgba(0, 0, 0, 0.05);
}

.customize-collapsible h3 {
	display: block;
	position: relative;
	margin: 0;
	padding: 10px 14px;
	color: #555;
	background: white;
	line-height: 21px;
}

.customize-collapsible h3:after {
	position: absolute;
	top: 12px;
	right: 14px;
	color: #a0a5aa;
	font: 400 20px/1 dashicons;
	content: "\f343";
}

.customize-collapsible h3:hover {
	color: #0073aa;
	background: #f5f5f5;
}

.customize-collapsible h3:hover:after {
	color: #0073aa;
}

.customize-control-collapsed {
	margin-bottom: 0;
}

.customize-control-collapsed .customize-collapsible h3:after {
	content: "\f347";
}

.customize-section-description-container + .customize-control-kirki-custom .customize-collapsible {
	border-top: 0;
}

.csco-theme-presets .preset {
	border: 1px solid #ccc;
	display: flex;
	margin-top: 0.5rem;
	width: 100%;
	max-width: 80%;
	height: 25px;
	border-radius: 4px;
}

.csco-theme-presets .preset:first-child {
	margin-top: 0;
}

.csco-theme-presets .preset .gradient {
	flex: 1;
}

.csco-theme-presets .preset button {
	border: transparent;
	height: 25px;
	box-shadow: none;
}

.csco-theme-presets .preset button:active {
	transform: none;
}

.customize-control-hidden {
	height: 0 !important;
	overflow: hidden !important;
	visibility: hidden;
}